
    <div class="p-4 bg-white rounded shadow-md">
    <h2><%= requested_service.customer&.first_name %></h2>
    <p>Service: <%= requested_service.service.name if requested_service.service %></p>
    </div>


