<aside class="w-64 h-screen  fixed top-0 left-0 bg-green-200  ">
  <div class="p-6">
    <h1 class="text-xl font-bold mb-6">Order U</h1>
    <nav class="space-y-2">
       <%= link_to "Schedule", root_path,
          class: "block px-4 py-2 rounded hover:bg-blue-50 " + (current_page?(root_path) ? "bg-gray-50 font-semibold" : "") %>

      <%= link_to "Services", services_path,
          class: "block px-4 py-2 rounded  " + (current_page?(services_path) ? "bg-gray-50 font-semibold" : "") %>
      <%= link_to "Request", requested_services_path,
          class: "block px-4 py-2 rounded  " + (current_page?(requested_services_path) ? "font-semibold" : "") %>
      
      <% if authenticated? %>
        <%= button_to "Log out", session_path, method: :delete,
            class: "block px-4 py-2 rounded" %>
      <% end %>
   
    </nav>
  </div>
</aside>
